---
layout: default
---
<!-- recipe.html -->
<h1>{{ page.title }}</h1>
<p>{{ page.description }}</p>
{%- if page.image -%}
  <img src="{{ page.image }}" alt="page.image" style="width:512px"> 
{%- endif -%}
{%- if page.ingredients -%}
<h2>Ingrédients</h2>
<ul>
{% for ingredient in page.ingredients %}
  <li>{{ ingredient }}</li>
{% endfor %}
</ul>
{%- endif -%}
{%- if page.procedure -%}
<h2>Réalisation</h2>
<ol>
{% for step in page.procedure %}
  <li>{{ step }}</li>
{% endfor %}
</ol>
{%- endif -%}
{{ content }}
{%- if page.video -%}
  {{ page.video }}
{%- endif -%}
<p>Live page <a href="https://regimeketo.com/{{ page.slug }}/" target="_blank">here</a></p>
<!-- <p>page = {{ page | inspect }}</p> -->
